In [18]:
import pandas as pd
import numpy as np

In [ ]:
attend = pd.read_csv('../data/DIM_ATTENDANCE.csv')
disct = pd.read_csv('../data/DIM_DISCOUNT.csv')
menu = pd.read_csv('../data/DIM_MENU_ITEM.csv')
tender = pd.read_csv('../data/DIM_TENDER_MEDIA.csv')

fact = pd.read_csv('../data/FACT_Sites_2017.csv',  na_values='NULL',
                       dtype={'guestCheckLineItemID': np.int64,
                                  'Site': str,
                                  'Location': str,
                                 'revenueCenterID': np.int64,
                                 'orderTypeID': np.int64,
                                  'businessDate': np.datetime64,
                                 'fixedPeriod': np.int64,
                                  'transDatetime': np.datetime64,
                                 'guestCheckID': np.int64,
                                 'posTransRef': np.int64,
                                 'serviceRoundNum': np.int64,
                                 'lineNum': np.int64,
                                 'seatNum': np.int64,
                                 'detailType': np.int64,
                                 'recordID': np.int64,   
                                 'uwsID': np.int64,
                                 'checkEmployeeID': np.int64},
                      usecols=['guestCheckLineItemID', 'Site', 'revenueCenterID',
                               'Location', 'orderTypeID', 'fixedPeriod',
                               'guestCheckID', 'posTransRef', 'serviceRoundNum',
                               'lineNum', 'seatNum', 'detailType', 'detailDesc',
                               'recordID', 'posRef', 'priceLevel', 'uwsID',
                               'workstation', 'checkEmployeeID', 
                               'managerEmployeeID', 'voidFlag', 'reasonCode',
                               'lineCount', 'lineTotal', 'lineTotal2',
                               'reportLineCount', 'reportLineTotal'])

In [65]:
fact = pd.read_csv('../data/FACT_Sites_2017.csv', parse_dates=True,
                   na_values='NULL', chunksize=100000, iterator=True,
                       dtype={'guestCheckLineItemID': np.int64,
                                  'Site': str,
                                  'Location': str,
                                 'revenueCenterID': np.int64,
                                 'orderTypeID': np.int64,
                                 'fixedPeriod': np.int64,
                                 'guestCheckID': np.int64,
                                 'posTransRef': np.int64,
                                 'serviceRoundNum': np.int64,
                                 'lineNum': np.int64,
                                 'seatNum': np.int64,
                                 'detailType': np.int64,
                                 'recordID': np.int64,   
                                 'uwsID': np.int64,
                                 'checkEmployeeID': np.int64},
                      usecols=['guestCheckLineItemID', 'Site', 'revenueCenterID',
                               'Location', 'orderTypeID', 'fixedPeriod',
                               'guestCheckID', 'posTransRef', 'serviceRoundNum',
                               'lineNum', 'seatNum', 'detailType', 'detailDesc',
                               'recordID', 'posRef', 'priceLevel', 'uwsID',
                               'workstation', 'checkEmployeeID', 
                               'managerEmployeeID', 'voidFlag', 'reasonCode',
                               'lineCount', 'lineTotal', 'lineTotal2',
                               'reportLineCount', 'reportLineTotal'])

In [67]:
df = fact.get_chunk()

In [68]:
df[df.managerEmployeeID.notnull()]

,guestCheckLineItemID,Site,revenueCenterID,Location,orderTypeID,fixedPeriod,guestCheckID,posTransRef,serviceRoundNum,lineNum,...,workstation,checkEmployeeID,managerEmployeeID,voidFlag,reasonCode,lineCount,lineTotal,lineTotal2,reportLineCount,reportLineTotal
156210,124150884,Site1,811875,134 QUICK&CARM,146867,57,22247033,201,1,31,...,134_2,815494,821532.0,1,32,-1,-5.0,0.0,0,-5.0
156341,125960578,Site1,811906,C23 LINCOLN GRLL,146867,67,22388567,1250,1,26,...,323_3,821493,919496.0,1,4,-1,-8.0,0.0,0,-8.0
156577,125181099,Site1,18422301,P011 TD CLUB,146869,67,22328510,3194,1,22,...,NaN,826197,8523062.0,1,2,-1,-11.0,0.0,0,-11.0
156675,124833996,Site1,811868,121 LIBERTY GRLL,146867,57,22301909,7124,1,23,...,121_3,836897,8189191.0,1,2,-1,-11.0,0.0,0,-11.0
156711,125408171,Site1,811880,224 PHILLY FAVS,146867,55,22344836,6999,1,25,...,224_3,841290,18471959.0,1,2,-1,-5.0,0.0,0,-5.0
156743,124149867,Site1,811868,121 LIBERTY GRLL,146867,56,22246324,7124,1,25,...,121_1,836876,8523044.0,1,2,-1,-11.0,0.0,0,-11.0
156792,125170255,Site1,811920,CE1 EAST MARKET,146869,64,22328051,8083,1,21,...,801_5,18883188,8523068.0,1,2,-1,-15.0,0.0,0,-15.0
156810,124457681,Site1,811860,112 TONY LUKES,146867,47,22273305,7862,1,23,...,112_4,815416,3165567.0,1,2,-1,-11.0,0.0,0,-11.0
157142,124106669,Site1,811867,120 PENN PIZZA,146867,51,22235762,7149,1,25,...,120_4,836863,8144660.0,1,2,-1,-8.0,0.0,0,-8.0
157566,125167199,Site1,811911,CB25 E CLUB BAR,146869,60,22327421,1047,1,28,...,NaN,20759129,8523064.0,1,2,-1,-11.0,0.0,0,-11.0
157655,125960577,Site1,811906,C23 LINCOLN GRLL,146867,67,22388567,1250,1,27,...,323_3,821493,919496.0,1,4,-1,-8.0,0.0,0,-8.0
157718,125175758,Site1,811877,138 LIBERTY GRLL,146867,65,22328285,7859,1,22,...,138_1,830873,8189191.0,1,2,-1,-10.0,0.0,0,-10.0
157943,124150822,Site1,811867,120 PENN PIZZA,146867,57,22247031,6798,1,23,...,120_2,836854,821532.0,1,32,-1,-5.0,0.0,0,-5.0